@let checkboxFieldTreeIfExists = checkboxFieldTree();
@let dateFieldTreeIfExists = dateFieldTree();

<div class="nmcs-hour-select">
  @if (isMultiselect()) {
    <mat-form-field subscriptSizing="dynamic">
      <mat-label>{{ 'hourSelectLabel' | translateOrUseDefault | async }}</mat-label>
      <mat-select [formField]="field()" multiple>
        @for (hourOption of hourOptions(); track hourOption) {
          <mat-option [value]="hourOption.id">{{ hourOption.name }}</mat-option>
        }
      </mat-select>
      <mat-error></mat-error>
    </mat-form-field>
  } @else if (dateFieldTreeIfExists) {
    <mat-form-field subscriptSizing="dynamic">
      <mat-label>{{ 'hourSelectLabel' | translateOrUseDefault | async }}</mat-label>
      <input matInput [formField]="dateFieldTreeIfExists" [matTimepicker]="picker" />
      <mat-timepicker-toggle matIconSuffix [for]="picker" />
      <mat-timepicker #picker />
      <mat-error></mat-error>
    </mat-form-field>
  }

  @if (isCheckboxVisible() && checkboxFieldTreeIfExists) {
    <section>
      <mat-checkbox [formField]="checkboxFieldTreeIfExists">{{
        'everyHourLabel' | translateOrUseDefault | async
      }}</mat-checkbox>
    </section>
  }
</div>
