@let everyHourControl = everyHourFormControl();

<div class="nmcs-hour-select">
  @if (isMultiselect()) {
    <mat-form-field subscriptSizing="dynamic">
      <mat-label>{{ 'hourSelectLabel' | translateOrUseDefault | async }}</mat-label>
      <mat-select [formControl]="formControl()" multiple>
        @for (hourOption of hourOptions(); track hourOption) {
          <mat-option [value]="hourOption.id">{{ hourOption.name }}</mat-option>
        }
      </mat-select>
      <mat-error></mat-error>
    </mat-form-field>
  } @else {
    <mat-form-field subscriptSizing="dynamic">
      <mat-label>{{ 'hourSelectLabel' | translateOrUseDefault | async }}</mat-label>
      <input matInput [formControl]="dateControl" [matTimepicker]="picker" />
      <mat-timepicker-toggle matIconSuffix [for]="picker" />
      <mat-timepicker #picker />
      <mat-error></mat-error>
    </mat-form-field>
  }

  @if (isEveryHourCheckboxVisible() && everyHourControl) {
    <section>
      <mat-checkbox [formControl]="everyHourControl">{{
        'everyHourLabel' | translateOrUseDefault | async
      }}</mat-checkbox>
    </section>
  }
</div>
