@let everyMonthControl = checkboxFieldTree();

<div class="nmcs-month-of-year-select">
  <mat-form-field subscriptSizing="dynamic">
    <mat-label>{{ 'monthSelectLabel' | translateOrUseDefault | async }}</mat-label>
    <mat-select [field]="field()" [multiple]="isMultiselect()">
      @for (option of options; track option) {
        <mat-option [value]="option.cronValue">{{ option.label }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  @if (isCheckboxVisible() && everyMonthControl) {
    <section>
      <mat-checkbox [field]="everyMonthControl">{{ 'everyMonthLabel' | translateOrUseDefault | async }}</mat-checkbox>
    </section>
  }
</div>
