@let checkboxFieldTreeIfExists = checkboxFieldTree();

<div class="nmcs-day-of-week-select">
  <mat-form-field subscriptSizing="dynamic">
    <mat-label>{{ 'dayOfWeekSelectLabel' | translateOrUseDefault | async }}</mat-label>
    <mat-select [field]="field()" [multiple]="isMultiselect()">
      @for (option of options; track option) {
        <mat-option [value]="option.cronValue">{{ option.label }}</mat-option>
      }
    </mat-select>
    <mat-error></mat-error>
  </mat-form-field>

  @if (isCheckboxVisible() && checkboxFieldTreeIfExists) {
    <section>
      <mat-checkbox [field]="checkboxFieldTreeIfExists">{{
        'everyDayLabel' | translateOrUseDefault | async
      }}</mat-checkbox>
    </section>
  }
</div>
