@let checkboxField = checkboxFieldTree();

<div class="nmcs-day-of-month-select">
  <mat-form-field subscriptSizing="dynamic">
    <mat-label>{{ 'dayOfMonthSelectLabel' | translateOrUseDefault | async }}</mat-label>
    <mat-select [field]="field()" [multiple]="isMultiselect()">
      @for (option of options; track option) {
        <mat-option [value]="option">{{ option }}</mat-option>
      }
    </mat-select>
    <mat-error></mat-error>
  </mat-form-field>

  @if (isCheckboxVisible() && checkboxField) {
    <section>
      <mat-checkbox [field]="checkboxField">{{ 'everyDayLabel' | translateOrUseDefault | async }}</mat-checkbox>
    </section>
  }
</div>
