@let checkboxField = checkboxFieldTree();

<div class="nmcs-minute-select">
  <mat-form-field subscriptSizing="dynamic">
    <mat-label>{{ 'minuteSelectLabel' | translateOrUseDefault | async }}</mat-label>
    <mat-select [formField]="field()" [multiple]="isMultiselect()">
      @for (minuteOption of minuteOptions; track minuteOption) {
        <mat-option [value]="minuteOption">{{ minuteOption }}</mat-option>
      }
    </mat-select>
    <mat-error></mat-error>
  </mat-form-field>

  @if (isCheckboxVisible() && checkboxField) {
    <section>
      <mat-checkbox [formField]="checkboxField">{{ 'everyMinuteLabel' | translateOrUseDefault | async }}</mat-checkbox>
    </section>
  }
</div>
